@import 'variables';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.page {
    display: block;
    height: 100%;
    width: 100%;
    background-color: $background-color;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.page__content {
    width: 1366px;
    padding-top: $header-height;
    display: block;
    box-sizing: border-box;
    margin: 40px;
}