@import 'variables';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.page {
    display: block;
    height: 100%;
    width: 100%;
    min-width: 375px;
    background-color: $background-color;
}

.page__header {    
    background-color: $background-color;
    border-bottom: 1px solid $border-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.page__footer {
    width: 100%;
    background-color: $background-color;
}

.page__body {
    display: block;
    position: relative;
    z-index: 0;
    padding-top: $header-height + 30px;    
    padding-bottom: 0;        
    overflow: auto;   
}

.page_modal {
    //filter: blur(5px);
    overflow: hidden;
    //transition: filter 0.3s;    
    position: relative;
}

.page::after {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
}

.page_modal::after {
    opacity: 1;
    visibility: visible;
}

.content {
    box-sizing: border-box;
    width: $page-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $content-padding;
    padding-right: $content-padding;
}

.swiper-slide, 
.swiper-wrapper {    
    height: auto;
}
