@import 'variables';

$card-padding: 14px;

.card {
    box-sizing: border-box;
    width: 200px;
    height: 120px;
    border-radius: 20px;
    background-color: #F7F7F7;
    position: relative;
    white-space: normal;
}

.card:hover {
    background: #ffffff;
    box-shadow: $box-shadow; 
    cursor: pointer;
}

.card__icon {    
    position: absolute;
    top: $card-padding;
    left: $card-padding;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.card__icon_temperature {
    background-image: url('../images/icon_temperature.svg');    
}
.card__icon_light {
    background-image: url('../images/icon_sun.svg');    
}
.card__icon_clock {
    background-image: url('../images/icon_scheduled.svg');
}
.card__icon_temperature-active {
    background-image: url('../images/icon_temperature_2.svg');
}
.card__icon_light-active {
    background-image: url('../images/icon_sun_2.svg');    
}
.card__icon_clock-active {
    background-image: url('../images/icon_scheduled.svg');
}

.card__info {
    position: absolute;
    bottom: 0;   
    left: 0; 
    padding: $card-padding;
}

.card__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.card__description {
    color: #858585;
    font-size: 12px;
    line-height: 14px;
}