.favourite-scripts {
    flex: 0 1 50%;
    overflow: hidden;
}

.favourite-scripts::after {
    clear: both;
}

.favourite-scripts__header {
    color: $font-color;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.favourite-scripts__header__paging {
    margin-left: auto;
}

.favourite-scripts__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    height: 350px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-flow: column;
}