.favourite-scripts {
    box-sizing: content-box;
}

.favourite-scripts::after {
    clear: both;
}

.favourite-scripts__header {
    color: $font-color;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 10px;
}

.favourite-scripts__content {
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.favourite-scripts__content .card:nth-child(3n) {
    // margin-right: 10px;
}

// .favourite-scripts__content .card {
//     float: left;
// }


