@import 'variables';

.header {    
    display: block;    
    height: $header-height;
    padding-left: $content-padding + 10px;
    padding-right: $content-padding + 10px;
}

.header:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header__logo {    
    display: inline-block;    
}

.header__logo__link {
    vertical-align: middle;
    display: inline-block;
}

.header__logo__img {
    height: 39px;
}

.header__menu {
    display: inline-block;
    padding: 0 26px;
}

.header__menu__item {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.6;
    padding: 0 13px;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.header__menu__item_active {
    opacity: 1;
}

