html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.page {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

.page__header {
  background-color: #fff;
  border-bottom: 1px solid #F0F0F0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.page__footer {
  width: 100%;
  background-color: #fff; }

.page__content {
  position: relative;
  z-index: 0;
  width: 1366px;
  padding-top: 122px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide,
.swiper-wrapper {
  height: auto; }

.header {
  box-sizing: border-box;
  display: block;
  width: 1366px;
  height: 92px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto; }

.header:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.header__logo {
  display: inline-block; }

.header__logo__link {
  vertical-align: middle;
  display: inline-block; }

.header__logo__img {
  height: 39px; }

.header__menu {
  display: inline-block;
  padding: 0 26px; }

.header__menu__item {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.6;
  padding: 0 13px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle; }

.header__menu__item_active {
  opacity: 1; }

.footer {
  box-sizing: border-box;
  width: 1366px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px; }

.footer__link {
  display: inline-block;
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px;
  text-decoration: none;
  line-height: 14px;
  padding-top: 22px;
  padding-bottom: 27px;
  padding-left: 10px;
  padding-right: 10px; }

.footer__link:first-child {
  padding-left: 0; }

.footer__link_right {
  float: right;
  padding-right: 0; }

.footer__link_right::after {
  clear: both; }

.card {
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  height: 120px;
  border-radius: 20px;
  background-color: #F7F7F7;
  position: relative;
  margin-bottom: 15px;
  margin-right: 15px; }

.card:hover {
  background: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  cursor: pointer; }

.card__icon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 24px;
  height: 24px;
  background-size: contain; }

.card__icon_temperature {
  background-image: url("../images/icon_temperature.svg"); }

.card__icon_light {
  background-image: url("../images/icon_sun.svg"); }

.card__icon_clock {
  background-image: url("../images/icon_scheduled.svg"); }

.card__icon_temperature-active {
  background-image: url("../images/icon_temperature_2.svg"); }

.card__icon_light-active {
  background-image: url("../images/icon_sun_2.svg"); }

.card__icon_clock-active {
  background-image: url("../images/icon_scheduled.svg"); }

.card__info {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px; }

.card__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px; }

.card__description {
  color: #858585;
  font-size: 12px;
  line-height: 14px; }

.summary {
  box-sizing: border-box;
  display: inline-block;
  width: 630px;
  padding-right: 26px;
  padding-bottom: 10px; }

.summary__header {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px; }

.summary__content {
  border-radius: 20px;
  background-image: url("../images/summary-bg@1x.png");
  background-size: cover;
  min-height: 300px;
  padding: 20px; }

.summary__content__info {
  display: inline-block; }

.summary__content__queue {
  display: block;
  width: 200px;
  float: right; }

.summary__content__queue__item {
  margin-bottom: 15px; }

.summary__content::after {
  clear: both; }

.summary__content__info__header {
  font-size: 27px;
  font-weight: bold;
  color: #333; }

.summary__content__info__subheader {
  line-height: 16px;
  font-size: 14px;
  color: #333;
  margin-bottom: 25px; }

.favourite-scripts {
  box-sizing: border-box;
  display: inline-block;
  width: 630px;
  vertical-align: top; }

.favourite-scripts__header {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px; }

.favourite-scripts__content .card:nth-child(3n) {
  margin-right: 0; }

.favourite-scripts__content .card {
  float: left; }

.favourite-devices {
  display: inline-block;
  width: 100%; }

.favourite-devices__header {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  padding-top: 34px;
  padding-bottom: 20px; }

.favourite-devices__content {
  height: 130px;
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap; }

.favourite-devices__content > * {
  white-space: initial; }

.favourite-devices__filters {
  display: inline-block;
  padding: 0 13px; }

.favourite-devices__filters__item {
  height: 30px;
  border-radius: 20px;
  background-color: #F7F7F7;
  color: #000;
  font-size: 13px;
  line-height: 15px;
  padding: 7px 11px 8px 15px;
  font-weight: bold;
  margin-right: 10px; }

.favourite-devices__filters__item_active {
  background-color: #FFD93E; }

.weather {
  display: inline-block;
  margin-right: 18px; }

.weather__place {
  display: block;
  color: #858585;
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 4px; }

.weather__temperature {
  display: inline-block;
  line-height: 42px;
  font-size: 36px;
  font-weight: bold; }

.weather__icon {
  display: inline-block;
  height: 26px;
  width: 26px; }

.weather__icon-rain {
  background-image: url("../images/cloud-drizzle.svg");
  background-repeat: no-repeat;
  background-size: contain; }

.paging {
  float: right;
  padding-top: 5px; }

.paging::after {
  clear: both; }

.paging__btn {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  cursor: pointer; }

.paging__btn-prev {
  background-image: url("../images/Icons/arrow-left.svg"); }

.paging__btn-next {
  background-image: url("../images/Icons/arrow-left.svg");
  transform: scaleX(-1); }
