html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

.page {
  display: block;
  height: 100%;
  width: 100%;
  min-width: 375px;
  background-color: #FFF; }

.page__header {
  background-color: #FFF;
  border-bottom: 1px solid #F0F0F0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.page__footer {
  width: 100%;
  background-color: #FFF; }

.page__body {
  display: block;
  position: relative;
  z-index: 0;
  padding-top: 122px;
  padding-bottom: 0;
  overflow: auto; }

.page_modal {
  overflow: hidden;
  position: relative; }

.page::after {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20; }

.page_modal::after {
  opacity: 1;
  visibility: visible; }

.content {
  box-sizing: border-box;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px; }

.swiper-slide,
.swiper-wrapper {
  height: auto; }

.header {
  display: block;
  height: 92px;
  padding-left: 40px;
  padding-right: 40px; }

.header:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.header__logo {
  display: inline-block; }

.header__logo__link {
  vertical-align: middle;
  display: inline-block; }

.header__logo__img {
  height: 39px; }

.header__menu {
  display: inline-block;
  padding: 0 26px; }

.header__menu__item {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.6;
  padding: 0 13px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle; }

.header__menu__item_active {
  opacity: 1; }

.header__menu-icon {
  display: none; }

.footer {
  height: 64px;
  padding-left: 40px;
  padding-right: 40px; }

.footer__link {
  display: inline-block;
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px;
  text-decoration: none;
  line-height: 14px;
  padding-top: 22px;
  padding-bottom: 27px;
  padding-left: 10px;
  padding-right: 10px; }

.footer__link:first-child {
  padding-left: 0; }

.footer__link_right {
  float: right;
  padding-right: 0; }

.footer__link_right::after {
  clear: both; }

.card {
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  height: 120px;
  border-radius: 20px;
  background-color: #F7F7F7;
  position: relative;
  margin-bottom: 15px;
  margin-right: 15px; }

.card:hover {
  background: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  cursor: pointer; }

.card__icon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 24px;
  height: 24px;
  background-size: contain; }

.card__icon_temperature {
  background-image: url("../images/icon_temperature.svg"); }

.card__icon_light {
  background-image: url("../images/icon_sun.svg"); }

.card__icon_clock {
  background-image: url("../images/icon_scheduled.svg"); }

.card__icon_temperature-active {
  background-image: url("../images/icon_temperature_2.svg"); }

.card__icon_light-active {
  background-image: url("../images/icon_sun_2.svg"); }

.card__icon_clock-active {
  background-image: url("../images/icon_scheduled.svg"); }

.card__info {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px; }

.card__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px; }

.card__description {
  color: #858585;
  font-size: 12px;
  line-height: 14px; }

.summary {
  float: left;
  box-sizing: content-box;
  width: 630px;
  padding-right: 16px;
  padding-left: 10px;
  padding-bottom: 5px; }

.summary__header {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px; }

.summary__content {
  border-radius: 20px;
  background-image: url("../images/summary-bg@1x.png");
  background-size: cover;
  min-height: 300px;
  padding: 20px; }

.summary__content__info {
  display: inline-block; }

.summary__content__queue {
  display: block;
  width: 200px;
  float: right; }

.summary__content__queue__item {
  margin-bottom: 15px; }

.summary__content::after {
  clear: both; }

.summary__content__info__header {
  font-size: 27px;
  font-weight: bold;
  color: #333; }

.summary__content__info__subheader {
  line-height: 16px;
  font-size: 14px;
  color: #333;
  margin-bottom: 25px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .summary {
    width: 420px; }
  .summary__content {
    padding: 0;
    min-height: unset; }
  .summary__content__info {
    display: block;
    width: unset;
    padding: 20px; }
  .summary__content__info__header {
    font-size: 18px;
    line-height: 21px; }
  .summary__content__info__subheader {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px; }
  .summary__content__queue {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 140px;
    white-space: nowrap;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
    float: none; }
  .summary__content__queue > * {
    white-space: normal; } }

@media (max-width: 767px) {
  .summary {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px; }
  .summary__header {
    display: none; }
  .summary__content {
    padding: 0;
    min-height: unset; }
  .summary__content__info {
    display: block;
    width: unset;
    padding: 20px; }
  .summary__content__info__header {
    font-size: 18px;
    line-height: 21px; }
  .summary__content__info__subheader {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px; }
  .summary__content__queue {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 140px;
    white-space: nowrap;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
    float: none; }
  .summary__content__queue > * {
    white-space: normal; } }

.favourite-scripts {
  float: left;
  box-sizing: content-box;
  width: 640px;
  padding-left: 10px;
  vertical-align: top; }

.favourite-scripts::after {
  clear: both; }

.favourite-scripts__header {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 10px; }

.favourite-scripts__content .card:nth-child(3n) {
  margin-right: 10px; }

.favourite-scripts__content .card {
  float: left; }

.favourite-devices {
  display: block;
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

.favourite-devices__header {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  padding-top: 34px;
  padding-bottom: 20px; }

.favourite-devices__content {
  padding-top: 5px; }

.favourite-devices__filters {
  display: inline-block;
  padding: 0 13px; }

.favourite-devices__filters__item {
  height: 30px;
  border-radius: 20px;
  background-color: #F7F7F7;
  color: #333;
  font-size: 13px;
  line-height: 15px;
  padding: 7px 11px 8px 15px;
  font-weight: bold;
  margin-right: 10px; }

.favourite-devices__filters__item_active {
  background-color: #FFD93E; }

.favourite-devices__filters__item:hover:not(.favourite-devices__filters__item_active) {
  background: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  cursor: pointer; }

.favourite-devices__filters__active {
  display: none; }

.weather {
  display: inline-block;
  margin-right: 18px; }

.weather__place {
  display: block;
  color: #858585;
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 4px; }

.weather__temperature__value {
  display: block;
  line-height: 42px;
  font-size: 36px;
  font-weight: bold;
  float: left; }

.weather__icon {
  display: block;
  float: left;
  height: 26px;
  width: 26px;
  margin-top: 8px;
  margin-left: 5px; }

.weather__icon-rain {
  background-image: url("../images/cloud-drizzle.svg");
  background-repeat: no-repeat;
  background-size: contain; }

.paging {
  float: right;
  padding-top: 5px; }

.paging::after {
  clear: both; }

.paging__btn {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  cursor: pointer; }

.paging__btn-prev {
  background-image: url("../images/Icons/arrow-left.svg"); }

.paging__btn-next {
  background-image: url("../images/Icons/arrow-left.svg");
  transform: scaleX(-1); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
  backface-visibility: hidden; }

.modal.is-open {
  visibility: visible; }

.modal-dialog {
  display: block;
  width: 630px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.modal-content {
  display: block;
  background-color: #FFF;
  padding: 25px;
  border-radius: 20px; }

.modal-buttons {
  display: block;
  margin-top: 21px; }

.modal-buttons__btn {
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 20px;
  height: 60px;
  width: calc(50% - 8px);
  margin-right: 16px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  padding: 20px;
  font-weight: bold;
  float: left; }

.modal-buttons__btn:hover {
  cursor: pointer;
  background-color: #FFD93E; }

.modal-buttons__btn:last-child {
  margin-right: 0; }

.modal-buttons__btn_apply {
  background-color: #FFD93E; }

.device-card__header {
  display: block;
  overflow: auto;
  margin-bottom: 20px; }

.device-card__header__title {
  float: left; }

.device-card__name {
  font-size: 27px;
  line-height: 31px;
  font-weight: bold; }

.device-card__status {
  margin-top: 6px;
  font-size: 14px;
  line-height: 16px; }

.device-card__header__info {
  float: right; }

.device-card__header__info__value {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  float: left; }

.device-card__header__info__icon {
  width: 42px;
  height: 42px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain; }

.device-card__header__info__icon-temperature {
  background-image: url("../images/icon_temperature_2.svg"); }

.device-card__header__info__icon-light {
  background-image: url("../images/icon_sun.svg"); }

.device-card__control-modes {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px; }

.device-card__control-mode {
  display: inline-block;
  background: #F2F1F0;
  border-radius: 20px;
  font-size: 13px;
  line-height: 15px;
  padding: 7px 11px 8px 15px;
  font-weight: bold; }

.device-card__control-mode:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5); }

.device-card__control-mode_active {
  background-color: #FFD93E; }

.slider-control {
  display: block;
  background: #ffe682;
  position: relative;
  margin-top: 5px;
  user-select: none;
  border-radius: 30px; }

.slider-control__icon {
  position: absolute;
  margin: 12px;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  box-sizing: border-box; }

.slider-control__slider {
  position: absolute;
  border: 4px solid #FFFFFF;
  box-shadow: 0 1px 10px -7px rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.slider-control__slider:hover {
  cursor: pointer; }

.slider-control__slider::before {
  content: '';
  display: block;
  position: absolute;
  border: 3px solid rgba(51, 51, 51, 0.1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-sizing: border-box; }

.slider-control_horizontal {
  height: 60px; }

.slider-control_theme-light.slider-control_horizontal .slider-control__icon_start {
  left: 4px;
  top: 0; }

.slider-control_theme-light.slider-control_horizontal .slider-control__icon_end {
  right: 4px;
  top: 0; }

.slider-control_horizontal .slider-control__slider {
  top: -4px;
  left: 50%; }

.slider-control_vertical {
  width: 60px;
  min-height: 330px;
  margin-left: auto;
  margin-right: auto; }

.slider-control_theme-light.slider-control_vertical .slider-control__icon_end {
  left: 0;
  top: 4px; }

.slider-control_theme-light.slider-control_vertical .slider-control__icon_start {
  left: 0;
  bottom: 4px; }

.slider-control_vertical .slider-control__slider {
  left: -4px;
  top: 50%; }

.slider-control_theme-light .slider-control__icon_start {
  background-image: url("../images/icon_sun_min.svg"); }

.slider-control_theme-light .slider-control__icon_end {
  background-image: url("../images/icon_sun_max.svg"); }

.slider-control_theme-heat .slider-control__icon {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: bold; }

.slider-control_horizontal.slider-control_theme-heat {
  background: linear-gradient(90deg, #068FFF 0%, #FFD800 51%, #F76B1C 100%); }

.slider-control_vertical.slider-control_theme-heat {
  background: linear-gradient(0deg, #068FFF 0%, #FFD800 51%, #F76B1C 100%); }

.slider-control_horizontal.slider-control_theme-light {
  background: linear-gradient(90deg, #ffe682 0%, #ff9e00 100%); }

.slider-control_vertical.slider-control_theme-light {
  background: linear-gradient(0deg, #ffe682 0%, #ff9e00 100%); }

.slider-control_theme-heat .slider-control__icon {
  width: 60px;
  height: 60px;
  margin: 0; }

.slider-control_theme-heat.slider-control_horizontal .slider-control__icon_start {
  top: 0;
  left: 0;
  padding: 21px 0 18px 20px;
  text-align: left; }

.slider-control_theme-heat.slider-control_horizontal .slider-control__icon_end {
  right: 0;
  top: 0;
  padding: 21px 20px 18px 0;
  text-align: right; }

.slider-control_theme-heat.slider-control_vertical .slider-control__icon_end {
  top: 0;
  left: 0;
  padding: 14px 14px 14px 15px;
  text-align: center; }

.slider-control_theme-heat.slider-control_vertical .slider-control__icon_start {
  bottom: 0;
  left: 0;
  padding: 26px 14px 14px 15px;
  text-align: center; }

.knob-control {
  position: relative;
  width: 220px;
  height: 220px;
  margin-left: auto;
  margin-right: auto; }

.knob-control__value {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 178px;
  width: 178px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  color: #333;
  font-size: 66px;
  line-height: 76px;
  font-weight: bold;
  text-align: center;
  padding-top: 51px;
  padding-left: 34px;
  padding-right: 32px;
  z-index: 10;
  pointer-events: none; }

.knob-control__display {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transform: rotate(180deg);
  z-index: 0; }
  .knob-control__display .knob-arc {
    fill: none;
    stroke: #F5A623;
    stroke-width: 24px;
    stroke-dasharray: 1 4; }
  .knob-control__display .knob-arc-bg {
    fill: none;
    stroke: #333333;
    stroke-width: 24px;
    stroke-dasharray: 1 4; }
  .knob-control__display .knob-helper {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 100px; }

.knob-control__pointer {
  position: absolute;
  width: 20px;
  height: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 0;
  left: calc(50% - 10px);
  transform: rotate(90deg);
  z-index: 30; }

.knob-control__pointer::before {
  content: '';
  position: absolute;
  left: 7px;
  width: 14px;
  height: 14px;
  background-image: url("../images/Icons/icon_arrow.svg");
  background-repeat: no-repeat;
  background-size: contain; }

@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    width: 100%; }
  .favourite-scripts {
    width: calc(100% - 460px); } }

@media (min-width: 1024px) and (max-width: 1366px) {
  .content {
    width: 100%; }
  .favourite-scripts {
    width: calc(100% - 670px); } }

@media (max-width: 767px) {
  .page {
    min-width: 375px; }
  .page__header {
    border-bottom: none; }
  .page__body {
    padding-top: 64px; }
  .content {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .paging {
    display: none; }
  .favourite-scripts {
    box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px; }
  .favourite-scripts__content {
    white-space: nowrap; }
  .favourite-scripts__content > * {
    white-space: normal; }
  .favourite-scripts__content .card {
    float: none; }
  .favourite-scripts__content .card:nth-child(3n) {
    margin-right: 15px; }
  .favourite-scripts__content .card:last-child {
    margin-right: 0; }
  .favourite-devices {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px; }
  .favourite-devices__header {
    padding-top: 10px; }
  .favourite-devices__content .card:last-child {
    margin-right: 0; }
  .header {
    padding: 0;
    height: 64px; }
  .header__logo {
    margin-left: 20px; }
  .header__logo__img {
    height: 37px; }
  .header__menu-icon {
    display: block;
    float: right;
    background-image: url("../images/icon_list_m@1x.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-top: 24px;
    margin-right: 20px; }
  .header__menu-icon:after {
    clear: both; }
  .header__menu-icon:hover {
    cursor: pointer; }
  .header__menu {
    display: none;
    background-color: #FFF;
    padding: 0;
    border: 1px solid #F0F0F0; }
  .header__menu_shown {
    display: block; }
  .header__menu__item {
    display: block;
    border-bottom: 1px solid #F0F0F0;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px; }
  .header__menu__item:hover {
    background-color: #F0F0F0; }
  .header__menu__item:last-child {
    border-bottom: none; }
  .icon {
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin: 0 2px 2px 0; }
  .icon-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .favourite-devices__filters {
    display: none; }
  .favourite-devices__filters__active {
    display: block;
    float: right;
    height: 30px;
    border-radius: 20px;
    background-color: #FFD93E;
    box-sizing: border-box;
    z-index: 0;
    padding: 4px 11px 12px 15px;
    margin-top: -5px; }
    .favourite-devices__filters__active:hover {
      cursor: pointer; }
  .favourite-devices__filters__active__name {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    font-weight: bolder; }
  .favourite-devices__filters {
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 10;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
    padding: 0;
    border-radius: 20px; }
  .favourite-devices__filters_shown {
    display: block; }
  .favourite-devices__filters__item {
    display: block;
    border-radius: 0;
    margin-right: 0;
    height: unset;
    text-align: center; }
  .favourite-devices__filters__item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
  .favourite-devices__filters__item:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  .footer {
    padding-left: 20px;
    padding-right: 20px; }
  .footer__link {
    display: block;
    padding-left: 0; }
  .footer__link_right {
    float: left; }
  .weather__place {
    line-height: 14px;
    font-size: 12px;
    margin-bottom: 5px; }
  .weather__temperature__value {
    line-height: 28px;
    font-size: 24px; }
  .weather__icon {
    height: 22px;
    width: 22px;
    margin-top: 4px;
    margin-left: 4px; }
  .modal-dialog {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    height: 100%; }
  .modal-content {
    height: calc(100% - (2*60px + 15px + 20px));
    box-sizing: border-box; }
  .modal-buttons {
    overflow: auto;
    margin-top: 15px; }
  .modal-buttons__btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px; }
  .device-card {
    position: relative;
    height: 492px; }
  .device-card__name {
    font-size: 18px;
    line-height: 21px; }
  .device-card__status {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px; }
  .device-card__header__info {
    display: none; }
  .device-card__content__control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .device-card__control-modes {
    white-space: nowrap;
    margin-right: -25px;
    overflow: hidden;
    padding-top: 15px; }
  .device-card__control-modes > * {
    white-space: normal; }
  .device-card__control-mode {
    font-weight: normal;
    margin-right: 10px; } }
