@import 'variables';

//https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488

@media (min-width: 768px) and (max-width: 1023px) {
    .content {
        width: 100%;
    }

    .favourite-scripts {
        width: calc(100% - 460px);    
    }
}

@media (min-width: 1024px) and (max-width: $page-width) {
    .content {
        width: 100%;
    }

    .favourite-scripts {
        width: calc(100% - 670px);
    }
}

@media (max-width: 767px) {
    $header-height: 64px;

    .page {
        min-width: 375px;
    }

    .page__header {
        border-bottom: none;
    }

    .page__body {
        padding-top: $header-height;
    }

    .content {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .paging {
        display: none;
    }

    .favourite-scripts {
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px;  
        padding-right: 20px;      
        padding-left: 20px;      
    }

        .favourite-scripts__content {            
            white-space: nowrap;
        }

            .favourite-scripts__content > * {
                white-space: normal;        
            }
            
            .favourite-scripts__content .card {
                float: none;
            }
        
                .favourite-scripts__content .card:nth-child(3n) {
                    margin-right: 15px;
                }

                .favourite-scripts__content .card:last-child {
                    margin-right: 0;
                }

    .favourite-devices {
        box-sizing: border-box;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }

    .favourite-devices__header {
        padding-top: 10px;
    }

    .favourite-devices__content .card:last-child {
        margin-right: 0;
    }

    //--------------------------------------------- MENU
    
    .header {
        padding:0;
        height: $header-height;              
    }

    .header__logo {
        margin-left: 20px;        
    }    

    .header__logo__img {
        height: 37px;
    }

    .header__menu-icon {
        display: block;
        float: right;
        background-image: url('../images/icon_list_m@1x.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        margin-top: 24px;
        margin-right: 20px;        
    }
    .header__menu-icon:after {
        clear: both;
    }
    .header__menu-icon:hover {
        cursor: pointer;
    }

    .header__menu {
        display: none;
        background-color: $background-color;
        padding: 0;
        border: 1px solid $border-color;        
    }   
    
    .header__menu_shown {
        display: block;        
    }
    
    .header__menu__item {
        display: block;
        border-bottom: 1px solid $border-color;
        text-align: right;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__menu__item:hover {
        background-color: $border-color;
    }

    .header__menu__item:last-child {
        border-bottom: none;
    }

    //--------------------------------------------- FILTERS  
    .icon {
        border: solid $font-color;
        border-width: 0 2px 2px 0;
        display: inline-block;       
        padding: 2px;
        margin: 0 2px 2px 0;
    }

    .icon-down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }   

    .favourite-devices__filters {             
        display: none;
    }

    .favourite-devices__filters__active {
        display: block;
        float: right;
        height: 30px;
        border-radius: 20px;
        background-color: $accent-color;        
        box-sizing: border-box;
        z-index: 0;
        padding: 4px 11px (8px+4px) 15px;
        margin-top: -5px;

        &:hover { 
            cursor: pointer;
        }
    }

    .favourite-devices__filters__active__name {
        display: inline-block;
        font-size: 13px;        
        line-height: 15px;
        font-weight: bolder; 
    }

    .favourite-devices__filters {        
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 10;
        box-shadow: $box-shadow;
        padding: 0;
        border-radius: 20px;
    }

    .favourite-devices__filters_shown {
        display: block;
    }    

    .favourite-devices__filters__item {
        display: block;
        border-radius: 0;
        margin-right: 0;
        height: unset;     
        text-align: center;   
    }

    .favourite-devices__filters__item:first-child {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .favourite-devices__filters__item:last-child {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    //-------------------------------- FOOOTER
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__link {
        display: block;
        padding-left: 0;
    }
    .footer__link_right {
        float: left;
    }

    //--------------------------------WEATHER
    .weather__place {
        line-height: 14px;
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    .weather__temperature__value {
        line-height: 28px;
        font-size: 24px;
    }
    
    .weather__icon {
        height: 22px;
        width: 22px;
        margin-top: 4px;
        margin-left: 4px;
    }
    
    //-------------------------------MODAL-----------------------------------
    .modal-dialog {
        margin: 0;        
        width: unset;
        box-sizing: border-box;
        padding: 20px;
        height: 100%;
    }

    $modal-buttons-height: 2*60px + 15px;

    .modal-content {
        height: calc(100% - (2*60px + 15px + 20px));
        box-sizing: border-box;
    }

    .modal-buttons {
        overflow: auto;
    }

    .modal-buttons__btn {
        width: 100%;
        margin-right:0;
        margin-bottom:15px;
    }

    //--------------------------------DEVICE CARD -----------------------------
    .device-card {
        position: relative;
    }

    $device-card__name-height: 21px;
    $device-card__status-height: 14px;
    $device-card__status-margin: 5px;
    $device-card__header-height: $device-card__name-height + $device-card__status-height + $device-card__status-margin;

    .device-card__name {
        font-size: 18px;
        line-height: $device-card__name-height;
    }

    .device-card__status {
        margin-top: 5px;
        font-size: 12px;
        line-height: 14px;
    }

    .device-card__header__info {
        display: none;
    }

    .device-card__content__control {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .device-card__control-modes {
        white-space: nowrap;        
    }

    .device-card__control-modes > * {
        white-space: normal;
    }
}





