@import 'variables';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100; 
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    backface-visibility: hidden;
}

.modal.is-open {
    visibility: visible;    
}

.modal-dialog {
    display: block;    
    width: 630px;      
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    display: block;
    background-color: $background-color;
    padding: 25px;    
    border-radius: 20px;    
}

.modal-buttons {
    display: block;
    margin-top: 21px;
}

.modal-buttons__btn {
    box-sizing: border-box;
    background-color: $background-color;
    border-radius: 20px;
    height: 60px;
    width: calc(50% - 8px);
    margin-right: 16px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    padding: 20px;
    font-weight: bold;
    float: left;
}

.modal-buttons__btn:hover {
    cursor: pointer;
    background-color: $accent-color;
}

.modal-buttons__btn:last-child {
    margin-right: 0;
}

.modal-buttons__btn_apply {
    background-color: $accent-color;
}

