.paging {
    float: right;
    padding-top: 5px;
}

.paging::after {
    clear: both;
}

.paging__btn {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.paging__btn-prev {    
    background-image: url('../images/Icons/arrow-left.svg');
}

.paging__btn-next {    
    background-image: url('../images/Icons/arrow-left.svg');
    transform: scaleX(-1);    
}