@import 'variables';

.summary {
    width: 630px;
    box-sizing: content-box;
    margin-right: 16px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.summary__header {    
    color: $font-color;
    font-size: 18px;
    font-weight: bold;   
    margin-bottom: 20px;    
}

.summary__content {
    border-radius: 20px;
    background-image: url('../images/summary-bg@1x.png');
    background-size: cover;
    min-height: 300px;
    padding: 20px;
    display: flex;
}

.summary__content__info {
    
}

.summary__content__queue {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 200px;
}

.summary__content__queue__item {
    margin-bottom: 15px;
}

.summary__content::after {
    clear: both;
}

.summary__content__info__header {
    font-size: 27px;
    font-weight: bold;
    color: $font-color;    
}

.summary__content__info__subheader {
    line-height: 16px;
    font-size: 14px;
    color: $font-color;
    margin-bottom: 25px;
}

.summary__content__info__weather-list {
    display: flex;
}
