$font-size: 62.5%;
$header-height: 92px;
$page-width: 1366px;
$content-padding: 30px;
$background-color: #FFF;
$accent-color: #FFD93E;
$font-color: #333;
$border-color: #F0F0F0;
$box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);   

