.weather-list {
    display: flex;
}

.weather {
    margin-right: 18px;
}

.weather__place {
    display: block;
    color: #858585;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 4px;
}

.weather__temperature {
    display: block;
}

.weather__temperature__value {
    display: inline-block;
    line-height: 42px;
    font-size: 36px;
    font-weight: bold;
}

.weather__icon {
    display: inline-block;
    height: 26px;
    width: 26px;
    margin-top: 8px;
    margin-left: 5px;
}

.weather__icon-rain {
    background-image: url('../images/cloud-drizzle.svg');
    background-repeat: no-repeat;
    background-size: contain;
}